@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css");
@import url("https://unicons.iconscout.com/release/v2.1.9/css/unicons.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body{
    font-family: Helvetica;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #221d3d;
    background-color: #1f2029;
}
a{
    cursor: pointer;
    transition: all 100ms linear;
    color:#f8f8f8
}
a:hover{
    text-decoration: none;
}

.link:hover{
    color: #102770;
}
p{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
}
h4{
   font-weight: 600; 
   color: #f8f8f8;
}
h6 span{
    padding: 0 20px;
    text-transform: uppercase;
    font-weight:700;
    color:#f8f8f8
    
}
.section{
    position: relative;
    width: 100%;
    display: block;
}
.full-height{
    min-height: 100vh;
}
[type="checkbox"]{
    position: absolute;
    appearance: none;
}
.checkbox:checked+label,
.checkbox:not(:checked)+label{
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
}
.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before{
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    background-color: #102770;
    border-radius: 50%;
    color: #f8f8f8;
    font-family: "unicons";
    content: "\eb4f";
    z-index:20;
    top:-10px;
    left:-10px;
    line-height:36px;
    text-align:center;
    font-size:24px;
    transition: all 0.5s ease;
}
.checkbox:checked+label:before{
   transform: translateX(44px) rotate(-270deg); 
}
.main_3d_wrap{
    position: relative;
    width: 440px;
    max-width:100%;
    height:400px;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
}
.secondm_3d_wrapper{     
    width:100%;
    height:100%;
    display: flex;
    gap: 10px;
    position: absolute;
    top:0;
    left:0;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}
.card_front,
.card_back{
    width:100%;
    height:100%;
    background-color: #2a2b38;
    background-color: #101011;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    border-radius: 6px;
    left:0;
    top:0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.center_wrap{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px)
    perspective(100px);
    z-index:20;
    display:block;
}
.form_group{
    position:relative;
    display:block;
    margin:0;
    padding:0;
}
.form_style{
    color:#f8f8f8;
    background-color:#1f2029;
    padding:13px 20px;
    padding-left:70px;
    height:50px;
    width:100%;
    font-weight:500;
    border-radius:4px;
    font-size:20px;
    line-height:25px;
    letter-spacing:0.5px;
    outline:none;
    border:none;
    transition: all 100ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.form_style:focus{
    border:none;
    outline:none;
    box-shadow:0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.input_icon{
    position:absolute;
    top:0;
    left:18px;
    height:48px;
    font-size:24px;
    line-height:48px;
    text-align:left;
    color: #f8f8f8;
    transition: all 200ms linear;
}
input:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: all 200ms linear;
}
.btn{
    background-color: #102770;
    color:#f8f8f8;
    border-radius: 4px;
    height: 44px;
    font-size:13px;
    font-weight: 600;
    text-transform:uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    border:none;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,0.2);
}
.btn:hover{
    background-color: 0 8px 24px 0 rgba(16, 39, 112,0.2);
}
.card_front,
.card_back{
    position: absolute;
}
.card_back{
    transform:rotateY(180deg);
}
.checkbox:checked~.main_3d_wrap
.secondm_3d_wrapper{
    transform: rotateY(180deg);
}

